// colors variables
$white: #ffffff;
$button-color: #DB8939;
$text-color:#42415B;
// Fonts variables
$font-family:"Roboto";
$font-weight-normal:normal;
$font-weight-medium:500;
$font-weight-bold:700;
$font-size-14: 14px;
$font-size-15:15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-38: 38px;
$font-size-50: 50px;
$font-size-66: 66px;